<div class="container py-4">
  <div class="col-sm-12" *ngIf="isParentForm">
    <div class="card">
      <div class="card-header">Main Category Form</div>
      <div class="card-body">
        <dynamic-form-builder
          [formBtnLabel]="firstFormBtnLabel"
          [fields]="parentField"
          (onSubmit)="handleFirstFormAct($event)"
        ></dynamic-form-builder>
      </div>
    </div>
  </div>

  <div class="col-sm-12 mt-5" *ngIf="childFormField.length">
    <div class="card">
      <div class="card-header">Child Form</div>
      <div class="card-body">
        <dynamic-form-builder
          [formBtnLabel]="secondFormBtnLabel"
          [fields]="childFormField"
          (onSubmit)="handleChildFormAct($event)"
        ></dynamic-form-builder>
      </div>
    </div>
  </div>

  <div class="col-sm-12 mt-5" *ngIf="isShowFormData">
    <div class="card" [formGroup]="form">
      <div class="card-header">JSON Format</div>
      <div class="card-body">
        <textarea
          formControlName="fields"
          class="form-control"
          rows="5"
        ></textarea>
      </div>
    </div>
  </div>
</div>
